{{set . "title" "New Post"}}
{{template "header.html" .}}
  
<form method="POST" action="{{url "Post.Create"}}">
    {{$post := .post}}
    {{with $field := field "title" .}}
        <div>
            <label for="title">タイトル</label>
            <input type="text" id="title" name="{{$field.Name}}" placeholder="タイトルを入力してください" value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$post.Title}}{{end}}"/>
        </div>
    {{end}}
  
    {{with $field := field "body" .}}
        <div>
            <label for="title">内容</label>
            <textarea id="body" name="{{$field.Name}}">
                {{if $field.Flash}}
                    {{$field.Flash}}
                {{else}}
                    {{$post.Body}}
                {{end}}
            </textarea>
        </div>
    {{end}}
    <button type="submit" class="btn btn-primary">作成</button>
</form>
  
<a href="{{url "Post.Index"}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">戻る</a>
  
{{template "footer.html" .}}
