{{set . "title" "Show Post"}}
{{template "header.html" .}}
 
<p>
    <b>Title: </b>
    {{ .post.Title}}
</p>
 
<p>
    <b>Body: </b>
    {{ .post.Body}}
</p>

<h4>Comments: </h4>
{{$post := .post}}
{{range .post.Comments}}
    <p>
        <mark>
            <b>{{.Commenter}}:</b>
        </mark>
        {{.Body}}
        <small>
            ({{formatDate .CreatedAt}})
        </small>
        <a href="{{url "Comment.Delete" $post.Id .Id}}" class="btn btn-primary" role="button">削除</a>
    </p>
{{end}}
  
<h4>コメント作成:</h4>
<form method="POST" action="{{url "Comment.Create" .post.Id}}">
    <div>
        {{with $field := field "commenter" .}}
            <label for="commenter">名前</label>
            <input type="text" id="commenter" name="{{$field.Name}}" placeholder="作成者"/>
        {{end}}
    </div>
    <div>
        {{with $field := field "body" .}}
            <label for="body">コメント</label>
            <input type="text" id="body" name="{{$field.Name}}" placeholder="コメント"/>
        {{end}}
    </div>
    <button type="submit">作成</button>
</form>
  
<a href="{{url "Post.Edit" .post.Id}}" class="btn btn-primary" role="button">変更</a>
<a href="{{url "Post.Index" }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">戻る</a>
 
{{template "footer.html" .}}