<!DOCTYPE html>
 
<html>
    <head>
        <title>{{.title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
        <script src="/public/js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
        {{range .moreStyles}}
            <link rel="stylesheet" type="text/css" href="/public/{{.}}">
        {{end}}
        {{range .moreScripts}}
            <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
        {{end}}
    </head>
    <body>
    {{template "flash.html" .}}
