{{set . "title" "Login"}}
{{template "header.html" .}}

<div class="simple-login-container">
    <form method="POST" action={{url "User.AddUser"}}>
        <h2>会員登録</h2>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="password" placeholder="Password" name="password" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <button type="submit" class="btn btn-block btn-login">登録</button>
            </div>
        </div>
    </form>
</div>

{{template "footer.html" .}}